/* Designs Section */

.designs-section {
    padding: 10rem 15.2rem;
    position: relative;
}

.designs-section__heading {
    margin-bottom: 4.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-right,
.arrow-left {
    cursor: pointer;
    width: auto;
    height: 2rem;
}

.arrow-right {
    margin-right: 1.5rem;
}

.design-img-box {
    display: inline-block;
    vertical-align: top;
    height: 68rem;
    width: calc((100% - 4rem) / 3);
}

.left.design-img-box,
.middle.design-img-box {
    margin-right: 2rem;
}

.design-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.chair-light {
    object-position: 50%;
}

.chair-dark {
    object-position: 75%;
}

.couch {
    object-position: 15%;
}

.right.design-img-box {
    position: relative;
}

.design-inner-card {
    padding: 2rem;
    width: 80%;
    height: 11.5rem;
    background-color: var(--white-color);
    border-radius: 1rem;
    box-shadow: 0px 3.4rem 5rem 0px rgba(0, 0, 0, 0.15);

    position: absolute;
    left: 1.6rem;
    bottom: 1.6rem;
}

.design-inner-card span {
    color: var(--orange-color);
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 4.2rem;
}

#inner-card-text {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 900;
    line-height: 2.2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

.design-inner-card img {
    position: absolute;
    height: 1.6rem;
    right: 2.4rem;
    bottom: 2.4rem;
    cursor: pointer;
}

.arrows-hidden {
    display: none;
}

/* Media-query */
/* Tablet */
@media (max-width: 70em) {
    .designs-section {
        padding: 8rem;
    }

    .designs-section .design-img-box:nth-child(2),
    .design-img.chair-light {
        display: none;
    }

    .design-img-box {
        width: calc((100% - 2rem) / 2);
    }
}

@media (max-width: 60em) {
    .designs-section {
        padding: 6.4rem;
    }
}

@media (max-width: 50em) {
    .designs-section {
        padding: 6rem 4.8rem;
    }
}

@media (max-width: 40em) {
    .designs-section {
        padding: 6rem 2.8rem;
    }
}

/* Mobile */
@media (max-width: 35em) {
    /* .designs-section {
        padding: 6rem 2.8rem;
    } */

    .designs-section .heading-3 {
        text-align: center;
    }

    .right.design-img-box {
        margin-bottom: 4.6rem;
    }

    .arrows {
        display: none;
    }

    .arrows-hidden {
        display: block;
        text-align: center;
    }

    .designs-section .design-img-box:nth-child(3),
    .design-img.chair-dark {
        display: none;
    }

    .design-img-box {
        width: 100%;
        margin-right: 0;
        height: 54rem;
    }
}
