/* About Section */

#about-section {
    background-color: var(--grey-color-25);
}

.about-section {
    padding: 18rem 15.2rem;
}

.about-section__left {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%;
    width: 45%;
}

.about-section__left .img-box {
    display: inline-block;
    vertical-align: middle;
    height: 60.4rem;
    width: 100%;
    position: relative;
}

.about-section__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.about-section__shape {
    position: absolute;
    height: 18rem;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 90%);
}

.about-section__right {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.about-section__right h3 {
    margin-bottom: 2rem;
}

.about-section__right p {
    margin-bottom: 4.8rem;
}

/* Media-query */
/* Tablet */
@media (max-width: 70em) {
    .about-section {
        padding: 14rem 8rem;
    }

    .about-section__shape {
        height: 16rem;
        top: 50%;
        left: 50%;
        transform: translate(-15%, 120%);
    }
}

@media (max-width: 60em) {
    .about-section {
        padding: 10rem 6.4rem;
    }

    .about-section__shape {
        height: 14rem;
        top: 50%;
        left: 50%;
        transform: translate(-15%, 140%);
    }
}

/* Mobile */
@media (max-width: 50em) {
    .about-section {
        padding: 8rem 4.8rem;
    }

    .about-section__left {
        display: block;
        margin-right: 0;
        margin-bottom: 8rem;
        width: 100%;
    }

    .about-section__left .img-box {
        height: 46rem;
    }

    .about-section__shape {
        height: 14rem;
        transform: translate(-10%, 90%);
    }

    .about-section__right {
        width: 100%;
        display: block;
    }
}

@media (max-width: 40em) {
    .about-section {
        padding: 6rem 2.8rem;
    }

    .about-section__shape {
        height: 12rem;

        transform: translate(-15%, 120%);
    }
}
