/* About Section */

.about-section {
    padding: 18rem 15.2rem;
    background-color: var(--grey-color-25);
}

.about-section__left {
    display: inline-block;
    vertical-align: middle;
    margin-right: 18rem;
    width: calc((100% - 18rem) * 0.5);
}

.about-section__left .img-box {
    display: inline-block;
    vertical-align: middle;
    height: 60.4rem;
    width: 100%;
    position: relative;
}

.about-section__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.about-section__shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 100%);
}

.about-section__right {
    width: calc((100% - 18rem) * 0.5);
    display: inline-block;
    vertical-align: middle;
}

.about-section__right h3 {
    margin-bottom: 2rem;
}

.about-section__right p {
    margin-bottom: 4.8rem;
}

/* Media-query */
/* Tablet */
@media (max-width: 1000px) {
    .about-section {
        padding-right: 10rem;
        padding-left: 10rem;
    }

    .about-section__left {
        width: 50%;
        margin-right: 12rem;
    }

    .about-section__right {
        width: calc(50% - 12rem);
    }

    .about-section__shape {
        height: 16rem;
        top: 50%;
        left: 50%;
        transform: translate(-15%, 120%);
    }
}

/* Mobile */
@media (max-width: 600px) {
    .about-section {
        padding-right: 2.8rem;
        padding-left: 2.8rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .about-section__left {
        display: block;
        margin-right: 0;
        margin-bottom: 8rem;
        width: 100%;
    }

    .about-section__left .img-box {
        height: 46rem;
    }

    .about-section__shape {
        width: 13rem;
        transform: translate(-10%, 80%);
    }

    .about-section__right {
        width: 100%;
        display: block;
    }
}
