/* Hero Section */

.hero-section {
    padding: 0 6rem;
}

.hero-section__content {
    background-color: var(--beige-color);
    border-radius: 3rem;
    padding: 7.5rem 9.2rem;
}

.hero-section__left {
    display: inline-block;
    vertical-align: middle;
    width: calc((100% - 7%) * 0.4);
    margin-right: 7%;
    position: relative;
}

.hero-img-wrapper img {
    max-width: 100%;
}

.cicle {
    height: auto;
    width: 66%;
    position: absolute;
    top: 10%;
    right: 0;
    z-index: 1;
}

.chair {
    position: relative;
    z-index: 2;
    height: auto;
    width: 90%;
}

.hero-section__right {
    height: max-content;
    width: calc((100% - 7%) * 0.6);
    display: inline-block;
    vertical-align: middle;
}

.uppercase-text-2.text-top {
    color: var(--orange-color);
}

.hero-section__right h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hero-section__right p {
    margin-bottom: 5.8rem;
}

/* Media-query */
/* Tablet */
@media (max-width: 70em) {
    .hero-section {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .hero-section__content {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .hero-section__left .cicle {
        top: 6rem;
    }

    .hero-section__left .chair {
        width: 100%;
    }
}

@media (max-width: 60em) {
    .hero-section {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .hero-section__content {
        padding: 5rem 4.4rem;
    }
}

@media (max-width: 50em) {
    .hero-section {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }

    .hero-section__content {
        padding-right: 3.2rem;
        padding-left: 3.2rem;
    }
}

/* Mobile */
@media (max-width: 40em) {
    .hero-section {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .hero-section__content {
        padding-right: 2.8rem;
        padding-left: 2.8rem;
    }

    .hero-section__content {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .hero-section__left {
        display: block;
        width: 100%;
        margin-bottom: 3.6rem;
    }

    .hero-section__left .cicle {
        top: 5.5rem;
    }

    .hero-section__left .chair {
        width: 90%;
    }

    .hero-section__right {
        display: block;
        width: 100%;
    }
}
