/* Features Section */

.features-section {
    padding: 10rem 15.2rem;
    border-bottom-style: dotted;
    border-color: var(--grey-color-100);
}

.features-section .feature:not(:last-child) {
    margin-right: 5%;
}

.feature {
    width: calc((100% - 10%) / 3);
    display: inline-block;
    vertical-align: top;
}

.feature-icon,
.feature-text {
    display: inline-block;
    vertical-align: top;
}

.feature-text {
    width: calc(100% - 8% - 8rem);
}

.feature-icon {
    position: relative;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    margin-right: 8%;
}

.ellipse-1 {
    background-color: var(--green-color-25);
}

.ellipse-2 {
    background-color: var(--beige-color);
}

.ellipse-3 {
    background-color: var(--blue-color-25);
}

.feature-icon .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-6 {
    margin-bottom: 1rem;
}

/* Media-query */
/* Tablet */
@media (max-width: 70em) {
    .features-section {
        padding: 8rem;
    }

    .feature {
        width: calc((100% - 8%) / 2);
    }

    .features-section .feature:first-child {
        margin-right: 8%;
        margin-bottom: 4rem;
    }

    .features-section .feature:not(:first-child) {
        margin-right: 0rem;
    }
}

@media (max-width: 60em) {
    .features-section {
        padding: 8rem 6.4rem;
    }

    .features-section .feature:first-child {
        margin-right: 0;
    }
}

/* Mobile */
@media (max-width: 50rem) {
    .features-section {
        padding: 6rem 4.8rem;
    }

    .feature {
        display: block;
        width: 100%;
    }

    .features-section .feature {
        margin-right: 0rem;
        text-align: center;
    }

    .features-section .feature:not(:last-child) {
        margin-bottom: 4rem;
    }

    .feature-icon,
    .feature-text {
        display: block;
        margin: 0 auto;
    }

    .feature-icon {
        margin-bottom: 3rem;
    }
}

@media (max-width: 40em) {
    .features-section {
        padding: 6rem 2.8rem;
    }
}
