/* Footer Section */
#footer {
    margin-bottom: 6rem;
}

.footer {
    padding: 0 6rem;
}

.footer__content {
    background-color: var(--beige-color);
    border-radius: 3rem;
    padding: 13.2rem 9.2rem;
}

.footer__content > *:not(:last-child) {
    margin-right: 8%;
}

.footer__content > * {
    display: inline-block;
    vertical-align: top;
}

.footer__content > *:not(:first-child) {
    width: calc((100% - 24%) * 0.7 / 3);
}

.footer__brand {
    width: calc((100% - 24%) * 0.3);
}

.footer__brand img {
    height: 2.8rem;
    width: auto;
}

.footer__brand img,
.footer__heading {
    margin-bottom: 6.5rem;
}

.footer__brand img + p {
    margin-bottom: 3.4rem;
}

.footer__contact p,
a:not(:last-child) {
    margin-bottom: 2rem;
}

.footer__content a {
    display: block;
}

/* Media-query */
/* Tablet */
@media (max-width: 70em) {
    .footer {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .footer__content {
        padding: 10rem 5rem;
    }

    .footer__content .text-lg {
        font-size: 1.4rem;
    }

    .footer__contact p,
    a:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@media (max-width: 60em) {
    .footer {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .footer__content {
        padding: 8rem 4.4rem;
    }
}

@media (max-width: 50em) {
    .footer {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }

    .footer__content {
        padding: 8rem 3.2rem;
    }

    .footer__content > *:not(:first-child) {
        width: calc((100% - 24%) * 0.7 / 2);
    }

    .footer__brand {
        display: block;

        width: 100%;
        margin-bottom: 3rem;
    }

    .footer__brand img,
    .footer__heading {
        margin-bottom: 2rem;
    }
}

/* Mobile */
@media (max-width: 40em) {
    .footer {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }

    .footer__content {
        padding: 6rem 2.8rem;
    }

    .footer__content > *:not(:last-child) {
        margin-right: 0;
    }

    .footer__content > * {
        display: block;
        text-align: center;
    }

    .footer__content > *:not(:first-child) {
        width: 100%;
    }

    .footer__brand {
        width: 100%;
    }

    .footer__content .text-lg {
        font-size: 1.6rem;
    }

    .footer__brand img,
    .footer__heading {
        margin-bottom: 1.6rem;
    }

    .footer__contact p,
    a:not(:last-child) {
        margin-bottom: 1.6rem;
    }

    .footer__brand .text-lg:last-child {
        display: none;
    }

    .footer__brand,
    .footer__contact,
    .footer__product {
        margin-bottom: 5rem;
    }
}
